* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.marco {
    display: grid;
    border-style: hidden;
    grid-template-columns: 250px auto;
    grid-template-rows: 50px 40px auto 40px;
    grid-gap: 2px;
    width: 100vw;
    height: 100vh;
}

.encabezado {
    border-style: hidden;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: auto;
}

.logo {
    width: 5%;
    height: auto;
    float: left;
    object-fit: cover;
    margin-right: 10px;
}

.navbar {
    padding-left: 20px;
    overflow: hidden;
    background-color: #3E0026;
    height: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: bolder;
    text-decoration: none;
}

.navbar a:hover {
    background-color: violet;
    height: 100%;
}

ul li {
    height: auto;
    list-style: none;
    width: 100%;
    padding: 14px;
    text-align: center;
}

.lado a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bolder;
}

.lado li:hover {
    background-color: violet;
    height: 100%;
    width: 100%;
}

a:active {
    color: rgb(182, 53, 182);
    font-size: 1.1em;
}

.img2 {
    width: 100%;
    height: auto;
}

#visitas {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.migas {
    border-style: solid;
    border-color: yellow;
    background-color: #FDF2F8;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.lado {
    overflow: hidden;
    background-color: #3E0026;
    height: 100%;
    border-style: hidden;
    /*border-color: violet;*/
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.contenido {
    width: 100%;
    overflow-y: scroll;
    padding: 2%;
    border-style: hidden;
    /*border-color: violet;*/
    background-color: #FDF2F8;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

p {
    text-align: justify;
    font-family: 'Segoe UI';
    font-size: 16px;
}

h2 {
    font-family: 'Franklin Gothic Medium';
    font-size: 22px;
    margin-bottom: 5px;
}

hr {
    border-top: 2px solid #3E0026;
}

.img {
    width: 100%;
    height: auto;
    align-items: center;
    float: right;
}

.perfil {
    width: 180px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: auto;
    float: left;
    object-fit: cover;
    border-radius: 10%;
}

.centro li {
    padding-left: 2%;
    list-style-type: disc;
    text-align: justify;
    font-family: 'Segoe UI';
    font-size: 16px;
}

.contenido ul {
    margin-left: 2%;
}

span {
    font-weight: bold;
    font-style: italic;
}

.pie {
    border-style: hidden;
    /*border-color: aqua;*/
    background-color: #3E0026;
    font-size: 16px;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

.email {
    color: white;
    text-decoration: none;
}